@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --primary:#e39972;
    --secondary:#e9662d;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: var(--secondary);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background:#fff;
    padding:1.5rem 9%;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    font-weight: bolder;
    font-size: 2.5rem;
    color:rgb(235, 160, 110);
}

header .logo span{
    color:rgb(214, 93, 24);
}

.navbar{
    padding-top: 0.5rem;
}

header .navbar a{
    color:rgb(232, 114, 72);
    font-weight: 700;
    font-size: 1.5rem;
    padding:0 1.5rem;
}

header .navbar a:hover{
    color:var(--secondary);
}

header .icons #menu-bars{
    height:4.5rem;
    line-height: 4.5rem;
    width:5rem;
    font-size: 2rem;
    margin-right: .5rem;
    border-radius: .5rem;
    color:var(--secondary);
    background:var(--primary);
    text-align: center;
}

header .icons #menu-bars:hover{
    background-color:var(--secondary);
    color:#fff;
}

header .icons #menu-bars{
    display: none;
}


section{
    padding:2rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    color:#fff;
    background:var(--primary);
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    background:var(--secondary);
    color:#fff;
}

.features .box-container{
    padding-top: 5rem;
}

.features .box-container .box{
    border:1.5rem var(--secondary);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: 1rem;
    overflow:hidden;
    background:#fff;
    flex:1 1 25rem;
}

.features .box-container .box .image-container{
    overflow:hidden;
    position: relative;
    width: 100%;
    height: 25rem;
}

.features .box-container .box .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.features .box-container .box:hover .image-container img{
    transform: scale(1.1);
}

.features .box-container .box .image-container .info{
    position: absolute;
    top:1rem; left:0;
    display: flex;
}

.features .box-container .box .image-container .info h3{
    font-weight: 500;
    font-size: 1.4rem;
    color:#fff;
    background:rgba(0,0,0,.3);
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    margin-left: 1rem;
}

.features .box-container .box .content{
    padding:1.5rem;
}

.features .box-container .box .content .price{
    display: flex;
    align-items: center;
}

.features .box-container .box .content .price h3{
    color:var(--secondary);
    font-size: 2rem;
    margin-right: auto;
}

.features .box-container .box .content .price a{
    color:#666;
    font-size: 1.5rem;
    margin-right: .5rem;
    border-radius: .5rem;
    height:3rem;
    width:3rem;
    line-height: 4rem;
    text-align: center;
    background:#f7f7f7;
}

.features .box-container .box .content .price a:hover{
    background:var(--secondary);
    color:#fff;
}

.features .box-container .box .content .location{
    padding:1rem 0;
}

.features .box-container .box .content .location h3{
    font-size: 2.5rem;
    color:#333;
}

.features .box-container .box .content .location p{
    font-size: 1.5rem;
    color:#666;
    line-height: 1.5;
    padding-top: .5rem;
}

.features .box-container .box .content .details{
    padding:.5rem 0;
    display: flex;
}

.features .box-container .box .content .details h3{
    flex:1;
    padding:1rem;
    border:.1rem solid rgba(0,0,0,.1);
    color:#999;
    font-size: 1.3rem;
}

.features .box-container .box .content .details h3 i{
    color:#333;
    padding-left: .5rem;
}

.features .box-container .box .content .buttons{
    display: flex;
    gap:1rem;
}

.features .box-container .box .content .buttons .btn{
    flex:1;
    font-size: 1.5rem;
}


